@import "tailwindcss";

@layer base {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #030405;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #d4af37 0%, #aa8930 100%);
        border-radius: 5px;
        border: 2px solid #030405;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg, #f3d06a 0%, #d4af37 100%);
    }

    /* For Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #d4af37 #030405;
    }

    select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%235e686e'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 1.25rem center;
        background-size: 1rem;
    }
}